@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://i.pinimg.com/originals/77/a7/86/77a78633604cce24717dc9735b013725.jpg");
  /* background-image: url("/images/pexels-alesia-kozik-6765708.jpg"); */
  
  background-color: #6a6060;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.glass1 {
  backdrop-filter: blur(9px) saturate(180%);
  -webkit-backdrop-filter: blur(9px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(209, 213, 219, 0.3);
}
